.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0rem 2rem;
    background-color: var(--color-bg);
    border-bottom: 1px solid rgba(165, 165, 165, 0.1);
}

.navbar-links {
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0rem 5rem;
    text-decoration: none;
}

.social-links {
    padding: 0rem 0.5rem;
}

.navbar-links_logo {
    margin-right: 4rem;
    display: flex;
    align-items: center;
    color: white;

}

.navbar-links_logo img {
    margin-right: 5px;
}

.navbar-links_container {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    font-family: var(--font-scope);
}

.navbar-links_container>a {
    color: white;
}

.navbar-links_container input {
    background: #1B1A21;
    border-radius: 10px;
    border: none;
    padding: 7px 19px 7px 15px;
    font-family: var(--font-family);
    outline: none;
    color: whitesmoke;
}

.navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
}

@media screen and (min-width:1650px) {
    
    .navbar-menu {
        display: none;
    }

}
@media screen and (max-width:1650px) {
    .navbar-links_container>a {
        display: none;
    }

    .navbar-menu {
        display: flex;
    }

}
@media screen and (max-width:700px) {
    .navbar-links_container, .navbar-links_logo {
        display: none;
    }

    .navbar-menu {
        display: flex;
        width: 100%;
        margin: 3rem auto;        
    }

}