@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@200;300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
}

:root {
  --font-scope: 'Scope One', sans-serif;
  --font-abhaya: 'Abhaya Libre', sans-serif;

  --gradient1: linear-gradient(180deg, #3531A9 1.84%, #4303A4 102.67%);
  --gradient2: linear-gradient(270deg, #5F0A87 1.84%, #A4508B 102.67%);
  --gradient3: linear-gradient(270deg, #FFA69E 1.84%, #861657 102.67%);
  --gradient4: linear-gradient(270deg, #C373F2 1.84%, #F977CE 102.67%);
  --gradient5: linear-gradient(180deg, #FFA69E 1.84%, #861657 102.67%);  
  --gradient6: linear-gradient(180deg, #5F0A87 1.84%, #4303A4 102.67%);  
  /* --gradient1: linear-gradient(101.12deg, #3531A9 27.35%, #3531A9 99.99%, #4303A4 100%, #4303A4 100%); */
  --primary-btn: linear-gradient(101.12deg, #EB1484 27.35%, #C91CC3 99.99%, #C81CC5 100%, #C81CC5 100%);
  
  --primary-color: #EB1484;
  --secondary-color: #c81cc5;

  --color-bg: #09002B;
  --color-bg2: #11024B;
  --color-card : #080808;
  --color-footer : #24252D;
}

body {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;  
}
.bg-primary {
  background-color: var(--color-bg);
}
.font-scope {
  font-family: var(--font-scope);
}
.font-abhaya {
  font-family: var(--font-abhaya);
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #2A2D3A #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background: var(--color-card);
    border-radius: 10px;
    border: 3px none #ffffff;
  }

